.fr-table.fr-table--sm {
  font-size: 0.75rem;

  th {
    font-size: 0.75rem;
    vertical-align: top;
    font-weight: 700;
    padding: 0.5rem;
  }

  td {
    font-size: 0.75rem;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.expanded {
      text-overflow: initial;
      white-space: normal;
    }
  }
}

.references-datatable__header {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  padding: 2px 4px;
}

.references-datatable_filter {
  line-height: 1;
  min-height: unset;
  padding: 0;
}

.references-datatable__input {
  height: 2rem;
  font-size: 0.75rem;
  width: 100%;
}

.references-datatable__select {
  height: 2rem;
  font-size: 0.75rem;
  width: 100%;
}

.references-datatable__page-size {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .fr-select {
    width: auto;
  }
}

.fr-pagination__list {
  flex-wrap: nowrap;
}
