.main-banner {
  align-items: center;
  background-image: url('/img/bg-poudre.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 33vh;
  justify-content: center;

  h1 {
    color: black;
    text-align: center;
  }
}

.search-object {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    white-space: nowrap;
  }
}


.search-object-link {
  background: none;
  text-decoration-line: unset;
}

.search-object-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}